select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}
input[type=file] {
  width: 100%;
}

body {
    padding: 20px; 
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #333;
  }
  
  h1, h2, h3, h4, h5, h6, p, ul, li {
    font-family: sans-serif;
  }

  .Main {
    margin-top: 15px;
  }
  
  .Main .navbar-brand {
    font-weight: bold;
  }
/* 
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: #111;
    padding: 0;
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .content {
    background-color: #FFF;
    padding: 20px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }
  .active {
    background-color: #0099FF;
  } */

